/* 1. Crie 3 divs que ocupam cada uma ⅓ da largura da tela no desktop, 
mas quando visto no mobile ocupem 100% da largura cada uma. Utilize uma altura de 200px para cada div.
2. Dentro de cada uma das divs insira um parágrafo que tem tamanho de fonte de 14px no mobile,
 16px em tablets e 18px no desktop. */

.myflex {
  display: flex;
  flex-direction: row;
}

.mydiv {
  width: 33%;
  height: 200px;
  background-color: blue;
}

@media (min-width: 320px) {
  .myflex {
    display: flex;
    flex-direction: row;
  }
  .mydiv {
    width: 100%;
    height: 200px;
  }
}
